* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}
  
body {
  min-height: 100vh;
  width: 100vw;
  background-image: url("images/background.jpg");
}

a {
  cursor: pointer;
  text-decoration: none;
}

header {
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid #7B1FA2;
}

.left-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.back-button {
  font-size: 1.5rem;
  color: #fff;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.back-button:hover {
  background-color: #7B1FA2;
  color: #fff;
}

.back-button-placeholder {
  width: 40px;
  height: 40px;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.search-bar {
  margin-right: 15%;
}

.search-bar input {
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  width: 300px;
}

.search-bar input:focus {
  outline: none;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 75vh;
}

.text-content {
  display: flex;
  color: #fff;
  margin-left: 10%;
  flex-direction: column;
  width: 48%;
  padding: 30px;
}

.text-content h1 {
  font-size: 48px;
}

.text-content p {
  font-size: 22px;
  margin-top: 20px;
}

.image-content {
  width: 40%;
}

.image-content img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

h1 {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 30px;
}

.course-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  padding: 20px;
}

.course-card {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 150px;
  border: 4px solid transparent;
  transition: border 0.3s ease;
}

.course-card:hover {
  border: 4px solid green;
  transform: scale(1.05);
}

#void-card:hover {
  border: 4px solid red;
}

.course-card img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.course-card h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 10px;
}

.course-card p {
  font-size: 1rem;
  color: #666;
  line-height: 1.4;
}

.course-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.course-container {
  width: 90%;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.course-header {
  text-align: center;
  margin-bottom: 40px;
}

.course-header h1 {
  font-size: 2.5rem;
  color: #4B0082;
}

.course-header p {
  font-size: 1.2rem;
  color: #333;
  margin-top: 10px;
}

.course-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 4px solid transparent;
  transition: border 0.3s ease;
}

.card:hover {
  border: 4px solid #4B0082;
  transform: scale(1.05);
}

.card h2 {
  font-size: 1.5rem;
  color: #4B0082;
}

.card p {
  margin-top: 10px;
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 15px;
}

.watched-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 10px;
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto
}

.watched-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.watched-button:active {
  background-color: #3e8e41;
  transform: scale(1);
}

.watched {
  border: 4px solid green;
  background-color: #e6ffe6;
}

.professor-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.professor-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.professor-details {
  margin-top: 20px;
}

.professor-details h2 {
  font-size: 1.8rem;
  color: #4B0082;
}

.professor-details p {
  font-size: 1rem;
  color: #333;
  margin-top: 10px;
  line-height: 1.6;
}

.search-bar {
  position: relative;
}

.suggestions {
  border: 0.5px solid #ccc; 
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  background: transparent; 
  z-index: 1000;
  width: 300px;
  border-radius: 10px;
  display: none; 
}

.suggestions.show {
  display: block; 
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

/* .feedback {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}

.feedback a{
  margin-top: 5px;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #4B0082;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.feedback a:hover{
  background-color: #7B1FA2;
  color: #fff;
} */